* {
    margin: 0;
    padding: 0;
}

:root {
    --player: 148px;
    --box: 23px;
    --75: 75px;
    --150: 150px;
}

#heading {
    text-align: center;
    width: 100vw;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid grey;
}
#container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
#board {
    display: flex;
    width: 375px;
    height: 375px;
    margin: auto auto;
    background: white;
    margin-top: 20px;
    flex-wrap: wrap;
}

#area-top {
    width: var(--75);
    height: var(--150);
    display: flex;
    flex-wrap: wrap;
}

.box {
    width: var(--box);
    height: var(--box);
    border: 1px solid black;
    /* border-radius: 25%; */
    font-size: 2rem;
    margin-top: 0;
    text-align: center;
}

#red {
    width: var(--player);
    height: var(--player);
    border: 1px solid black;
    border-radius: 5%;
    background: red;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
}

#area-right {
    width: var(--150);
    height: var(--75);
    display: flex;
    flex-wrap: wrap;
}

#center {
    width: var(--75);
    height: var(--75);
    display: flex;
    flex-wrap: wrap;
}

#area-left {
    width: var(--150);
    height: var(--75);
    display: flex;
    flex-wrap: wrap;
}

#blue {
    width: var(--player);
    height: var(--player);
    background: skyblue;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    border: 1px solid black;
    border-radius: 5%;
    z-index: 1;
}

#area-bottom {
    width: var(--75);
    height: var(--150);
    display: flex;
    flex-wrap: wrap;
}

#yellow {
    width: var(--player);
    height: var(--player);
    background: yellow;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 1;
    border: 1px solid black;
    border-radius: 5%;

}

#green {
    width: var(--player);
    height: var(--player);
    background: rgb(56, 241, 56);
    display: flex;
    border: 1px solid black;
    border-radius: 5%;

    flex-wrap: wrap;
    position: relative;
    z-index: 1;
}

.hole {
    width: 34px;
    height: 34px;
    margin: 20px;
    background: #fff;
    border-radius: 50%;
}
.coin{
    width: 19px;
    height: 19px;
    background: tomato;
    border-radius: 50%;
    border: 1px solid red;
    position: relative;
    margin: auto auto;
    top: 125px;
    left: 112px;
    z-index: 2;
}

.home{
    width: 0;
    height: 0;
    position: relative;
}

#redHome {
    border-top: 37px solid transparent;
    border-bottom: 37px solid transparent;
    border-left: 37px solid tomato;
    top: -37px;
}
#greenHome {
    border-top: 37px solid rgb(134, 255, 134);
    border-right: 37px solid transparent;
    border-left: 37px solid transparent;
}
#yellowHome {
    border-top: 37px solid transparent;
    border-bottom: 37px solid transparent;
    border-right: 37px solid rgb(255, 255, 73);
    top: -37px;
}
#blueHome {
    border-right: 37px solid transparent;
    border-bottom: 37px solid rgb(164, 229, 255);
    border-left: 37px solid transparent;
    top: -73px;
}
.g{
    background: rgb(134, 255, 134);
}
.r{
    background: tomato;
}
.y{
    background: rgb(255, 255, 73);
}
.s{
    background: rgb(164, 229, 255);
}
#dice_red{
    width: 80px;
    height: 80px;
    position: absolute;
    border-radius: 10%;
    left: 340px;
    top: 110px;
    border: 5px solid tomato;
}
#dice_blue{
    width: 80px;
    height: 80px;
    position: absolute;
    border-radius: 10%;
    border: 5px solid rgb(164, 229, 255);
    left: 340px;
    top: 385px;
}
#dice_green{
    width: 80px;
    height: 80px;
    position: absolute;
    border-radius: 10%;
    border: 5px solid rgb(134, 255, 134);
    animation: blink infinite ease-out 0.5s;
    right: 340px;
    top: 110px;
}
@keyframes blink{
    from{
        border: 5px solid rgb(134, 255, 134);
    }
    to{
        border: 5px dotted rgb(134, 255, 134);
    }
}
#dice_yellow{
    width: 80px;
    height: 80px;
    position: absolute;
    border-radius: 10%;
    border: 5px solid rgb(255, 255, 73);
    right: 340px;
    top: 385px;
}
.dice_img{
    margin: 5px;
    display: none;
}
    /*#g1, #g2, #g3, #g4, #g5, #g6{
    display: none;
} */